@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');




.newheader-container {
  width: 1440px;
  height: 1123px;
}

.newmenu-container {
  width: 1440px;
  height: 28.8px;
  display: flex;
  justify-content: space-around;
}

.menu {
  display: flex;
  height: 28.8px;
  width: 1440px;
  padding-top: 28.8px;
  gap: 165px;

}

a {
  text-decoration: none;
}

.behance-btn {
  width: 87px;
  height: 25px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}

.medium-btn {
  width: 87px;
  height: 25px;
  left: 1072px;
  top: 42px;

  font-family: 'Inter';
  font-style: normal;
  font-size: 21px;
  line-height: 25px;

  color: #FFFFFF;

}

.sag-grup {
  display: flex;
  gap: 130px;
  margin-left: 465px;
}

.twitter-btn {
  width: 87px;
  height: 25px;
  left: 1072px;
  top: 42px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}

.lili {
  width: 100px;
  height: 25px;
  left: 851px;
  top: 42px;

  font-family: 'Inter';
  font-style: normal;
  font-size: 21px;
  line-height: 25px;

  color: #FFFFFF;
  box-shadow: inset 0 0 0 0 #F2A755;
  color: white;

  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.lili:hover {
  box-shadow: inset 100px 0 0 0 #F2A755;
  color: black
}

.menu0 {
  width: 35%;
  padding-left: 700px;
}

#ensolmenu {
  font-family: 'Inter';
  font-style: normal;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
  margin-left: 60px;
}



.newcraft-yazi-svg {
  z-index: 10;
  position: absolute;
  width: 1318px;
  height: 232px;

}

.header-container {
  width: 100%;
  height: 1370px;
  background-size: 30px 30px;
  background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.325) 0.2px, transparent 0.9px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.325) 0.2px, transparent 0.9px);
}

.newcraft-header-yazi {
  z-index: 999999999999;
  display: flex;
  justify-content: center;
  padding-top: 144px;
}

.anahtar-header {
  display: flex;
  margin-top: 90px;
}

.anahtar {
  padding-left: 550px;
  height: 600px
}

.newcraft-header-ikinci-yazi {
  padding-left: 63px;
  padding-bottom: 43px;
}

.newcraft-yazi-iki-svg {
  width: 915px;
  height: 246px;
  font-family: 'Jura';
  font-style: normal;
  font-size: 110px;
  line-height: 100px;
  text-transform: uppercase;
  margin-top: 200px;

  color: #F2A755;
}